<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CANCEL</h1>
<form method="post" action="cancel/showLast">
    <h4>SHOW LAST CHECK</h4>
    <input type="submit" value="SHOW LAST CHECK"/>
</form>
<form method="post" action="cancel/deleteLast">
    <h4>DELETE LAST CHECK</h4>
    <input type="submit" value="DELETE LAST CHECK"/>
</form>
<form method="post" action="cancel/showById">
    <h4>SHOW CHECK BY ID</h4>
    <input type="number" name="idProd" placeholder="id to show"/>
    <input type="submit" value="SHOW CHECK BY ID"/>
</form>
<form method="post" action="cancel/deleteById">
    <h4>DELETE CHECK BY ID</h4>
    <input type="number" name="idProd" placeholder="id to delete"/>
    <input type="submit" value="DELETE CHECK BY ID"/>
</form>
<!--<form method="post" action="cancel/createCheck">-->
<!--    <input type="submit" value="CREATE CHECK"/>-->
<!--</form>-->
<!--<form method="post" action="cancel/clearCheck">-->
<!--    <input type="submit" value="CLEAR CHECK"/>-->
<!--</form>-->
<table style="border: black 2px solid">
    <div th:if="${session.check != null}">
        <tr>
            <th colspan="4" th:text="${session.check.getId()}"></th>

        </tr>
        <tr>
            <th colspan="4" th:text="${session.dateCreate}"></th>
        </tr>
        <tr>
            <th>Id prod</th>
            <th>Name of prod</th>
            <th>weight</th>
            <th>Price</th>
        </tr>

        <tr th:each="prod: ${session.check.getProducts()}">
            <td th:text="${prod.getProdId()}"></td>
            <td th:text="${prod.getNameOfProd()}"></td>
            <td th:text="${prod.getWeight()}"></td>
            <td th:text="${prod.getPrice()}"></td>
        </tr>
    </div>
</table>
</body>
</html>