<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CANCEL</h1>
<form method="post" action="cancel/showLast">
    <h4>SHOW LAST CHECK</h4>
    <div th:if="${param.noChecks != null and param.noChecks[0] == 'true'}">No checks in database</div>
    <input type="submit" value="SHOW LAST CHECK"/>
</form>
<form method="post" action="cancel/deleteLast">
    <h4>DELETE LAST CHECK</h4>
    <div th:if="${param.checkDeletedLast != null and param.checkDeletedLast[0] == 'true'}">Check was deleted!</div>
    <div th:if="${param.checkDeletedLast != null and param.checkDeletedLast[0] == 'false'}">Check wasn't found!</div>
    <input type="submit" value="DELETE LAST CHECK"/>
</form>
<form method="post" action="cancel/showById">
    <h4>SHOW CHECK BY ID</h4>
    <div th:if="${param.checkFound != null and param.checkFound[0] == 'false'}">No checks in database by this id</div>
    <input type="number" name="idProd" placeholder="id to show"/>
    <input type="submit" value="SHOW CHECK BY ID"/>
</form>
<form method="post" action="cancel/deleteById">
    <h4>DELETE CHECK BY ID</h4>
    <div th:if="${param.checkDeleted != null and param.checkDeleted[0] == 'true'}">Check was deleted!</div>
    <div th:if="${param.checkDeleted != null and param.checkDeleted[0] == 'false'}">Check wasn't found!</div>
    <input type="number" name="idProd" placeholder="id to delete"/>
    <input type="submit" value="DELETE CHECK BY ID"/>
</form>

<form method="post" action="cancel/createX">
    <h4>CREATE X</h4>
    <input type="submit" value="CREATE X REPORT"/>
</form>
<form method="post" action="cancel/createZ">
    <h4>CREATE Z</h4>
    <input type="submit" value="CREATE Z REPORT"/>
</form>
<table style="border: black 2px solid">
    <div th:if="${session.check != null}">
        <tr>
            <th colspan="4" th:text="${session.check.getId()}"></th>

        </tr>
        <tr>
            <th colspan="4" th:text="${session.dateCreate}"></th>
        </tr>
        <tr>
            <th>Id prod</th>
            <th>Name of prod</th>
            <th>weight</th>
            <th>Price</th>
        </tr>

        <tr th:each="prod: ${session.check.getProducts()}">
            <td th:text="${prod.getProdId()}"></td>
            <td th:text="${prod.getNameOfProd()}"></td>
            <td th:text="${prod.getWeight()}"></td>
            <td th:text="${prod.getPrice()}"></td>
        </tr>
    </div>
</table>
</body>
</html>